.description-section {
    background:url('../../../../assets/home/bg-section1.png');
    width:100%;
    min-height:800px;
    background-color: #130c09;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    height:100vh;
    background-attachment: fixed;
    overflow: hidden;
}
.description-section .container__max-w {
    min-height: 100%;
}
.description-section .left-side {
    flex:0.4;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.description-section .left-side .time-line {
    overflow: hidden;
    height:300px;
    position: relative;
    justify-content: space-between;
}
.description-section .left-side .time-line .line__2{
    position:absolute;
    top:50%;
    height: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:1px;
}
.description-section .timeline-container {
    color: #CCAA8B;
    /* padding:0px 20px; */
    width: 100%;
    justify-content: space-between;
}
.description-section .timeline-container {
    font-size: 20px;;
    font-weight: 600;
}
.description-section .timeline-container .number-page {
    min-width:40px;
    min-height:40px;
    border:2px solid #CCAA8B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}
.description-section .timeline-container .number-page__border {
    width:25px;
    height:25px;
    border:1px solid #DECFC0;;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.description-section .timeline-container img{
    height:1px; 
    margin: 0px 20px;
    width:60%;
}
.description-section .main-frame {
    flex:2;
    overflow: hidden;
}
.description-section  .main-frame__content {
    height: 300px;
    animation: moveInTransform1 .7s;
    animation-fill-mode: both;

}
.description-section .main-frame .container-img::-webkit-scrollbar {
    display: none;
}
.description-section .main-frame .container-img {
    ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex; 
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    height:150px;
    overflow-x: scroll;
    overflow-y: visible;
    margin: 30px 0px;


}
.description-section .main-frame .container-img img {
    transition:all .3s;
    cursor: pointer;
}
.description-section .main-frame .container-img  .container-img__text {
    margin-right: 30px; 
    min-width: 170px;
    overflow: visible;
}
.description-section .main-frame .container-img img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.description-section .main-frame .container-img__text__1 img{
    transform: scale(1.1) ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.description-section .main-frame .container-img .container-img__text span {
    color:white;
    font-weight: 600;
    position:absolute;
    bottom:5px;
    left:10px;
}
.description-section .main-frame .mainframe__title {
    width: fit-content;
    font-size:40px;
    letter-spacing: 15px;
    font-family: 'Chakra Petch';
    font-weight: 600;
    background: url('../../../../assets/home/bg-title.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: #CCAA8B;
}
.description-section #main-frame__content-1 {
    filter:none
}
.description-section .main-frame .expand-content {
    font-size: 15px;;
    font-weight: 400;
    color: #E7E1D9;
    padding-right:100px;
    display: block;
}
.description-section .right-side  {
    flex:0.8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height:100%;
    overflow: hidden;
}
.description-section .right-side span {
    writing-mode: vertical-lr;
    background: -webkit-linear-gradient(rgba(77,71,68,1), rgba(77,71,68,0.3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 120px;
    font-weight: 700;
    font-family: 'Chakra Petch';
    animation: moveInTransform1 .3s;
    animation-fill-mode: both;
    letter-spacing: 40px;
}
@media only screen and (min-width: 1800px) {
    .description-section .main-frame .expand-content {
        font-size: 18px;
    }
}
@media only screen and (max-width: 750px) {
    .description-section .right-side span {
        font-size: 80px;
    }
}

@media only screen and (max-width: 560px) {
    .description-section {
        background: none;
    }
    .description-section .main-frame .mainframe__title {
        font-size:30px;
        letter-spacing: 6px;
    }
    .description-section .right-side span {
        font-size: 70px;
    }
    .description-section .main-frame .expand-content {
        padding:0;
    }
    .description-section .main-frame .container-img {
        margin:0px 0px;
    }
    .description-section .timeline-container {
        font-size: 13px;
    }
    .description-section .timeline-container img{
        width: 40%;
    }
    
    .description-section {
        height: 400px;
    }
    .description-section .timeline-container .number-page {
        min-width: 30px;
        min-height: 30px;
    }
    .description-section .timeline-container .number-page__border {
        width: 20px;
        height:20px;
    }
}
@keyframes moveInTransform1 {
    from {
        opacity: 0;
        transform: translateY(400px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}