.start{
    width: 100vw;
    height: 100vh;
    background-image: url('../../../../assets/minigame/menu/_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.start .btn-prev{
    width: 101px;
    height: 75px;
    background-image: url('../../../../assets/minigame/menu/btn_prev.png');
}
.start .start-card .mission-icon{
    max-width: 253px;
    height: 291px;
    background-image: url('../../../../assets//minigame/menu/icon_mission.png');
    background-size: contain;
}
.start .start-card .market-icon{
    width: 253px;
    height: 291px;
    background-image: url('../../../../assets//minigame/menu/icon_market.png');
}
.start .start-card .warrior-icon{
    width: 253px;
    height: 291px;
    background-image: url('../../../../assets//minigame/menu/icon_warrior.png');
}
.start .start-card .btn-mission {
    width: 260px;
    height: 80px;
    background-image: url('../../../../assets/minigame/menu/button_mission.png');
}
.start .start-card .btn-market {
    width: 260px;
    height: 80px;
    background-image: url('../../../../assets/minigame/menu/button_market.png');
}
.start .start-card .btn-warrior{
    width: 260px;
    height: 80px;
    background-image: url('../../../../assets/minigame/menu/button_warrior.png');
}