
.banner-home {
    display: flex;
    position:relative;
    width:100vw;
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    padding-top:65px;
    background-color: #060404;
}
.banner-home .banner__container {
    
}
.banner-home video::-webkit-media-controls {
    display: none;
}

.banner-home video {
    width: 100vw;
    height:100vh;
    object-fit: cover;
    pointer-events: none;
    outline: none;
}
.banner-home .rh5v-Overlay_component {
    display: none !important;
}

.banner-home .banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom:100px;
    left:50%;
    width:100%;
    transform: translateX(-50%);
    color:white;
    font-weight: 600;
}
.banner-home .border-page {
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    z-index: 100;
    transform: translateY(40%)
}
.banner-home .banner-content h1 {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    font-size: 64px;
    letter-spacing: 0.6em;
    text-shadow: 0px 4px 8px rgba(62, 28, 9, 0.8);
}
.banner-home .banner-content span {
    font-size: 28px;
    width:432px;
    text-align: center;
    font-weight: 400;
    margin-bottom:30px;
    text-shadow: 0px 4px 8px rgba(62, 28, 9, 0.8);
}
.banner-home .btn-secondary {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.8));
}
.banner-home .btn-primary {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.8));
}
@media only screen and (max-width: 850px) {
    .banner-home .banner__gradient {
        position: absolute;
        z-index: 1;
        bottom:0;
        left:0;
    }
    .banner-home .banner__container {
        overflow: hidden;
        height:fit-content;
        position: relative;
    }
    .banner-home .banner-content {
        bottom:100px;
    }
}
@media only screen and (max-width: 750px) {
    
    .banner-home .banner__gradient {
        position: absolute;
        z-index: 1;
        bottom:0;
        left:0;
    }
    .banner-home .banner-content {
        bottom:100px;
    }
}
@media only screen and (max-width: 560px) {
    /* .banner-home {
        background-size:calc(100vh * 1.77) calc(100vh - 65px);
    } */
    .banner-home .banner-content h1 {
        text-align: center;
        font-size: 44px;
        letter-spacing: 0.4em;
        text-shadow: 0px 4px 8px rgba(62, 28, 9, 0.8);
    }
    .banner-home .banner-content span {
        font-size: 18px;
    }
    .banner-home .banner-content .btn-container {
        display: flex;
        flex-direction: column;
    }
    .banner-home .btn-secondary {
        margin:0;
        margin-top: 15px;;
    }
    .banner-home .btn-primary {
        margin:0;
    }
    .banner-home .banner-content {
        bottom:50px;
    }
    .banner-home .banner__container {
        overflow: hidden;
        height:fit-content;
        position: relative;
    }
    .banner-home video  {
        min-width: 0px !important;
        height:auto;
    }
    .banner-home .banner__gradient {
        position: absolute;
        z-index: 1;
        bottom:0;
        left:0;
    }
    .banner-home .banner-content {
        bottom:100px;
    }
 }