.warrior-information{
    color: #E7E1D9;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.9))
}
.warrior-information .warrior-info-top{
    width: 100%;
    position: relative;
    padding-top: 136px;
    padding-bottom: 97px;
}
.warrior-information .warrior-info-top .icon-circle{
    width: 44px;
    height: 44px;
    background-image: url('../../../assets/inventory/art2.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 7px;
}
.warrior-information .warrior-info-top:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background:url(../../../assets/inventory/warrior-info-bg.png);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position-y:bottom, center;
    width: 100%;
    height: 100%;
    opacity : 0.15;
    z-index: -1;
}
.warrior-information .warrior-info-top .war-left-info img{
    width: 40px;
    height: 40px;
    margin-bottom: 24px;
}

.warrior-information .warrior-info-top .war-img{
    width: 270px;
    height: 375px;
    margin-left: 56px;
    margin-right: 56px;
}

.warrior-information .warrior-info-top .war-bnb{
    color: #E7C060;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}
.warrior-information .warrior-info-top .war-price{
    font-size: 14px;
    font-weight: 600;
    color: #E7E1D9;

}
.warrior-information .warrior-info-top .war-icon{
    object-fit: cover;
    width: 16px;
    height: 16px;
}
.warrior-information .warrior-info-top .btn-sell-war{
    width: 188px;
    height: 56px;
    filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.8));
}
.warrior-information .warrior-info-top .war-info-tiltle{
    font-size: 40px;
    font-family: 'Titillium Web';
    font-weight: 600;
    line-height: 48px;
}
.warrior-information .warrior-info-bottom{
}
.warrior-information .warrior-info-bottom .table-container{
    background-color: #343438;
}
.warrior-information .warrior-info-bottom .warior-info-table{
    height: 200px;
    overflow-y: auto;
    width: 100%;
    -collapse: collapse;
}
.warrior-information .warrior-info-bottom .warior-info-table thead{
    width: 100%;
}
.warrior-information .warrior-info-bottom .warior-info-table thead tr {
    background-color: #232327;
    text-align: left;
  }
  .warior-info-table th,
  .warior-info-table td {
  padding: 12px 15px;
}
.warrior-information .details-stats{
    padding-top: 12px;
    bottom: 16px;
    left: 50%;
    border-top: solid 1px #51555A;
    transform: translateX(-50%);
    color: #3F93F5;
}
.warrior-information .body-part img{
    width: 24px;
    height: 24px;
}
.warrior-information .body-part{
    border: solid #51555A 1px;
}
.warrior-information .war-stat{
    grid-template-columns: 1fr 1fr;
    border: solid #51555A 1px;
}
.warrior-information .war-stat img{
    width: 24px;
    height: 24px;
}
.warrior-information .war-font-medium{
    font-size: 20px;
}
.warrior-information .war-font-minimum{
    font-size: 12px;
}
