.begin-section {
    background: url('../../../../assets/home/bg-section3.png');
    background-attachment: fixed;
    text-transform: uppercase;
    min-height: 800px;
    background-color: #130c09;
    background-size: 100vw 100%;
    background-position: center;
    color: #F6E9D9;
    height:100vh;
}

.begin-section .sub-title {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Chakra Petch';
    letter-spacing: 10px;
}
.begin-section .title {
    background: url('../../../../assets/home/bg-title.png');
    background-size: 100% 100%;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 15px;
    margin:15px 0px;
    font-family: 'Chakra Petch';
    color: #F6E9D9;
}
.begin-section .title-secondary {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 10px;
    font-family: 'Chakra Petch';
    margin-top:10px;
    text-transform: none;
}
.begin-section .character__strip {
    width:200vw;
    overflow: hidden;
    animation: moveInfinity 3s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}
.begin-section .character__strip  img {
    min-width:1280px;
}
.begin-section .title-secondary span {
    color: red;
}
/* @keyframes moveInfinity {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
} */
@media only screen and (max-width: 560px) {
    .begin-section {
        background: none;
    }
    .begin-section .title {
        text-align: center;
        font-size: 28px;
    }
    .begin-section .sub-title {
        font-size: 18px;
    }
    .begin-section .title-secondary {
        text-align: center;
        font-size: 18px;
        margin-top:0px
    }
}
@keyframes moveInfinity {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(50vw);
    }
}