.success-overlay {
    position:fixed;
    top:0;
    left:0;
    z-index: 1000000;
    width:100vw;
    height:100vh;
    opacity: 0;
    visibility: hidden;
}
.success-overlay img {
    width:400px;
}