.salepage { 
    padding-top: 65px;
    color: #DECFC0;

}
.salepage .salepage__header {
    position: relative;
}
.salepage .salepage__header  .banner{
    width: 100vw;
    min-width: 1540px;
}
.salepage .salepage__header .border-img {
    position: absolute;
    bottom:0%;
    width:120vw;
    left:0%;
    z-index: 2;
}
.salepage .sale {
    padding: 50px 0px;
    background-attachment: fixed;
    background-size: 100%;
    background-image: url('../../assets/sale/bg__page.png');
}
.salepage .sale .sale__title {
    font-size: 24px;
    font-weight: 700;
    padding:15px;
    background-image: url('../../assets/sale/bg__title.png');
    background-size:100% 100%;
    width:500px;
    text-align: center;
    font-family: 'Chakra Petch';
    letter-spacing: 5px;
    
}
.salepage .sale .sale__package {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top:40px;
}
.salepage .sale .sale__package .package__name {
    padding:10px;
    background-color: #101010;
    border: 2px solid #352d23;
    transition:all .3s;
    cursor: pointer;
    font-size: 18px;;
    font-weight: 600;
}
.salepage .sale .sale__package .package__name.active {
    border: 2px solid #B43B07;
    color: #FF9162;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 16px #FF9162);
    background-image: url('../../assets/sale/bg__text-active.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.salepage .sale .sale__package .package__name span {
    width:200px;
    display: block;
    text-align: center;
    background-image: url('../../assets/sale/bg__title-package.png');
    background-size: 100% 100%;
    padding: 10px 0px;
}
.salepage .sale  .package__info {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.salepage .sale  .package__info .price {
    position: absolute;
    bottom:10%;
    font-size: 25px;
    font-family: 'Chakra Petch';
    font-weight: 700;
    color:white;
    right:31%;
}
.salepage .sale  .package__info .package-image {
    flex:1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.salepage .sale  .package__info .package-image .package {
    position: absolute;
    top:-10%;
    width:60%;
}
.salepage .sale  .package__info .package-image .foot {
    width:60%;
}
.salepage .sale  .package__info .peek-inside {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.salepage .sale  .package__info .peek-inside .title-warrior {
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
}
.salepage .sale  .package__info .peek-inside .warrior-preview {
    display: flex;
    background: #131317;
    flex-direction: column;
    width:100%;
    position:relative;
}
.salepage .sale   .btn-primary {
    font-size: 20px;
    font-weight: 600;
    margin-top:40px;
}
.salepage .sale  .package__info .peek-inside .warrior-preview .container-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:15px 0px;
    justify-content: center;
}
.salepage .sale  .package__info .peek-inside .warrior-preview .container-image .left {

}
.salepage .sale  .package__info .peek-inside .warrior-preview .container-image .left .left-info {
    text-align: end;
}
.salepage .sale  .package__info .peek-inside .warrior-preview .container-image  .label {
    font-size:12px;
    color: #CCAA8B;
}
.salepage .sale  .package__info .peek-inside .warrior-preview .container-image  .left-info {
    display: flex;
    flex-direction: column;
}
.salepage .sale  .package__info .peek-inside .warrior-preview .sexual {
    position:absolute;
    top:10px;
    left:10px;
    width:30px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);;
}
.salepage .sale  .package__info .peek-inside  .rarity-1 {
    color: #E7E1D9;
    font-weight: 600;
}
.salepage .sale  .package__info .peek-inside  .rarity-2 {
    color: #31BC00;
    font-weight: 600;
}
.salepage .sale  .package__info .peek-inside  .rarity-3 {
    color: #FF7A00;
    font-weight: 600;
}
.salepage .sale  .package__info .peek-inside  .rarity-4 {
    color: #BD00FF;
    font-weight: 600;
}
.salepage .sale  .package__info .peek-inside .warrior-preview  img {
    width:200px;
}
.salepage .sale  .package__info .peek-inside .addition-info {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top:1px solid #51555A;
}
.salepage .sale  .package__info .peek-inside .addition-info span {
    margin-right:10px;
}
.salepage .github-container {
    height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(180deg, #111217 0%, rgba(19, 19, 23, 0) 100%), url('../../assets/sale/bg-github-container.png');
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
}
.salepage .github-container span {
    text-align: center;
}
.salepage .github-container .title {
    font-size: 40px;
    font-family: 'Chakra Petch';
    font-weight: bold;
    color: #CCAA8B;
    letter-spacing: 20px;
}
.salepage .github-container .subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #E7E1D9;
    margin-bottom: 30px;
    
}




