.inventory{
    margin-top: 65px;
    background-color: #131317;
    font-weight: 600;
}
.inventory .inventory-banner-bottom{
    margin-top: -39px;
    width: 100%;
    height: 48px;
    background-image:url('../../assets/inventory/banner-bottom.png');
    background-size:1935px 48px;
    background-position: center top;
    background-repeat: no-repeat;
}
.inventory .inventory-banner{
    width: 100%;
    height: 280px;
    object-fit: cover;
}
.inventory .inventory-tiltle {
    color: #E7E1D9;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    font-family: 'Chakra Petch';
    letter-spacing: 20px;
    text-transform: uppercase;
    margin-top: 40px;
}
.inventory .inventory-tabbar{
    line-height: 32px;
    z-index: 101;
    margin-top: 24px;
    top: 65px;  
    font-size: 20px;
    font-weight: 600;
    font-family: 'Titillium Web';   
    border-bottom: 1px #51555A solid;
    background-color:#131317;
}
.inventory .inventory-tabbar .tabbar-container{
    max-width: 848px;
    padding-left: 12px;
}
.inventory .inventory-tabbar div div{
    padding-top: 10px;
    color: #E7E1D9;
    opacity: 50%;
    margin-right: 32px;
    padding-bottom: 8px;
}
.inventory .inventory-tabbar .tabbar-active{
    position: relative;
    opacity: 1;
}
.inventory .inventory-tabbar .tabbar-active::after {
    content: '';
    width: 75px;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: #C4C4C4;
}
.inventory .inventory-container{
    margin-top: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 16px;
}
.inventory .inventory-container .warrior-container{
    width: 200px;
    border: 1px solid #51555A;
    padding: 12px;
    padding-bottom: 14px;
}
.inventory .inventory-container .warrior-container:hover{
    background-color: #2A2A32;
    cursor: pointer;
}
.inventory .inventory-container .warrior-container .war-img{
    object-fit: cover;
    width: 100%;
    height: 180px;
}
.inventory .inventory-container .warrior-container .warrior-pos{
    font-size: 16px;
    color:#CCAA8B;
    font-weight: 600;
    line-height: 28px;
    margin-top: 7px;
}
.inventory .inventory-container .warrior-container .war-bnb{
    color: #E7C060;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}
.inventory .inventory-container .warrior-container .war-price{
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #E7E1D9;

}
.inventory .inventory-container .warrior-container .war-icon{
    object-fit: cover;
    width: 16px;
    height: 16px;
}
.inventory .inventory-container .warrior-container .war-border{
    width: 100%;
    height: 1px;
    background-color: #5B4B37;
    margin-top: 8px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 900px) {
    .inventory .inventory-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 750px) {
    .inventory .inventory-container{
        grid-template-columns: 1fr 1fr;
    }
    .inventory .inventory-tiltle {
        font-size: 30px;
    }
}
@media only screen and (max-width: 560px){
    .inventory .inventory-container{
        grid-template-columns: 1fr;
    }
    .inventory .inventory-tiltle {
        font-size: 25px;
    }
}